<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xrates</title>
</head>
<body>
    {% if not xrates %}
    <h1>No rates</h1>
    {% endif %}

    <table border='1'>
        <thead align="center">
            <td>From</td>
            <td>To</td>
            <td>Rate</td>
        </thead>
        <tbody>
            {% for rate in xrates %}
            <tr align="center">
                <td>rate.from_currency</td>
                <td>rate.to_currency</td>
                <td>rate.rate</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</body>
</html>